*{
    font-style: normal
}

.headerContainer{
    display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: normal;
  height: 72px;
  
  box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    padding: 10px;
    /* выше 2 параметра на затемнение снизу */
}

.storeContainer{
display: flex;
gap:10px;
padding-left: 10px;

font-family: William Text Regular;
    font-variant-numeric: lining-nums;
    letter-spacing: .1em;
}
.userContainer{
    display: flex;
    gap:10px;
    padding-right: 10px;

    font-family: William Text Regular;
    font-variant-numeric: lining-nums;
    letter-spacing: .1em;
    
}
.logo{
    font-family:Comic Sans MS, Comic Sans, cursive;
    font-size: 20px;
    color: black;
    text-decoration: none;
    letter-spacing: .1em;

    position: absolute;
    top: 21px;
    left: 50%;
    transform: translate(-50%);
}
.profile{
    
    
}
.profile{
    
}

.search { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}