
.jacketsButtonContainer:hover{
    /* Добавляем нижнюю границу для ссылки */
    
}
.jacketsButton {
    background: transparent;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}
.jacketsLink {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    padding-right: 197px;
    padding-top: 10px;
    padding-bottom: 10px;
} 