.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
}

/* Стили для компонента Поиск */
.search {
    /* Выравнивание по центру */
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .search-button {
    /* Размер и цвет кнопки */
    width: 100px;
    height: 50px;
    background-color: #0078d4;
    color: white;
    /* Границы и скругление углов */
    border: none;
    border-radius: 10px;
    /* Текст и курсор */
    font-size: 20px;
    cursor: pointer;
  }
  
  /* Стили для компонента SearchForm */
  .search-form {
    /* Позиционирование и размер */
    display: flex;
    top: 70px;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    /* Выравнивание по центру */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    
    opacity: 0;
  animation: ani 0.5s forwards;

  z-index: 5;

  transition: opacity 0.5s ease;
  opacity: 0;
  pointer-events: none;
  }
  .search-form.open {
    opacity: 1;
    pointer-events: auto;
  }
  @keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  
  .search-input {
    /* Размер и цвет поля ввода */
    width: 100%;
    height: 60px;
    background-color: white;
    color: black;
    /* Границы и скругление углов */
    border-color: white ;
    /* Отступы и текст */
    padding: 10px;
    font-size: 18px;
  }
  
  .close-button {
    /* Размер и цвет кнопки */
    position: absolute;
    right: 20px;
    background: transparent;
    border-color: white ;
    padding: 10px;
    padding-left: -5px;
    padding-right: -5px;
  }
  