.skateContainer{
  position: relative;
  padding-bottom: 27px;
  padding-top: 27px;
  background-color: transparent;
  color: black;
  font-family: var(--main-font);
}
.skateContainer::after {
  content: "";
  display: block;
  height: 2px;
  background: black;
  position: absolute;
  bottom: 0px;
  left: 50%;
  right: 50%;
  top: 69.5px;
  transition: all 0.3s ease-in-out;
}

.skateContainer:hover::after {
  left: 0;
  right: 0;
  top: 69.5px;
}
  .menu {
  display: none;
  background-color: white;
  padding: 10px;
  border: 1px solid  #f3f3f3;
  position: absolute;
  top: 72.5px;
  width: 150px;
  margin-left: -30px;
  z-index: 60;
  text-decoration: none;
  pointer-events: none;
  animation-delay: 1s;
}

/* Стили для компонентов внутри блока */
.menu > * {
  margin: 10px;
}

.menu a {
  display: flex;
  text-decoration: none;
  color: #6d7175;
}

.menu a:hover {
  text-decoration: none;
  color: black;
}

/* Стиль для отображения блока при наведении на ссылку или на блок */
.skateContainer a:hover + .menu, .menu:hover {
  display: block;
  pointer-events: auto;
  animation: ani 0.5s forwards;
  opacity: 0;
}

@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.decksButton{
  background-color: aqua;
}