.recommendedFlex {
  display: flex;
  gap: 7px;
  padding: 20px;
}
.button {
  appearance: none;
  backface-visibility: hidden;
  background-color: #0d6efd;
  width: 200px;
  border-radius: 0.25rem;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Michroma", Sans-serif;
  font-size: 20px;
  font-weight: 50;
  height: 60px;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 14px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap; 

}
.button:hover {
  background-color: rgb(76, 165, 255);
}


.recommendedTitle {
  padding-left: 20px;
  font-size: 20px;
  
}
