
.formGroup{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}
.loginMainContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center; /* Выравнивание по вертикали */
    align-items: center; /* Выравнивание по горизонтали */
    align-content: normal;
    border: 3px solid #f1f1f1;
    width: 100%;
}


.login{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Выравнивание по вертикали */
    align-items: center; /* Выравнивание по горизонтали */
    background-color: rgb(16, 112, 197);
    max-width: 1020px; /* Максимальная ширина 1000px */
    min-width: 320px; /* Минимальная ширина 320px */
    width: 100%; 
}



.labelField{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: normal;
   
}
.input{
  width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  
}
.label{
    font-family: Helvetica,sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: .875rem;
    color: #000;
    line-height: 1.75;
    -webkit-font-smoothing: antialiased;
}
.error{
    font-family: Helvetica,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: .875rem;
    color: red;
    line-height: 1.75;
    -webkit-font-smoothing: antialiased;
}
.button {
    display: flex;
    background-color: black;
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;

    font-family: Helvetica,sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: .70313rem;
    text-transform: uppercase;
  }
.button:hover {
    opacity: 0.8;
}
