.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: normal;
  align-content: normal;
  gap: 10px;
  padding-top: 70px;
  padding-left: 30px;
  color: black;
  font-size: 18px;
  margin-bottom: 15px;
}
.infoText {
  font-size: 15px;
}

.icon {
  width: 25px;
  
}
.films {
  width: 70px;
  color: black;
}
.copyright{
  padding-top: 10px;
}